services:
  site:
    build: 
      context: .
      dockerfile: packages/site/Dockerfile
    ports:
      - '3000:3000'
  api:
    build: 
      context: .
      dockerfile: packages/api/Dockerfile
    ports:
      - '8080:8080'