name: CI/CD
on:
  push:
  pull_request:

jobs:
  build:
    uses: goncalosn/uber/.github/workflows/build.yml@master
  test:
    needs: build
    if: ${{ always() && !cancelled() && needs.build.result == 'success' }}
    uses: goncalosn/uber/.github/workflows/test.yml@master
  # JOB to run change detection
  changes:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() && needs.test.result == 'success' }}
    # Set job outputs to values from filter step
    outputs:
      api: ${{ steps.filter.outputs.api }}
      site: ${{ steps.filter.outputs.site }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            api:
              - 'packages/api/**'
            site:
              - 'packages/site/**'
  deploy-site:
    needs: changes
    if: ${{ needs.changes.outputs.site == 'true' }}
    uses: goncalosn/uber/.github/workflows/deploy-site.yml@master
    secrets:
      vercel-token: ${{ secrets.VERCEL_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
      vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
      vercel-site-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
