name: CI/CD
on:
  push:
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build:
    needs: test
    if: ${{ success() && !cancelled() && needs.test.result == 'success' }}
    uses: ./.github/workflows/build.yml
    secrets:
      MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}

  # JOB to run change detection
  changes:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ success() && !cancelled() && needs.test.result == 'success' }}
    # Set job outputs to values from filter step
    outputs:
      api: ${{ steps.filter.outputs.api }}
      site: ${{ steps.filter.outputs.site }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            api:
              - 'packages/api/**'
            site:
              - 'packages/site/**'

  deploy-site:
    needs: changes
    if: ${{ needs.changes.result == 'success' && needs.changes.outputs.site == 'true' }}
    uses: ./.github/workflows/deploy-site.yml
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL}}

  deploy-api:
    needs: changes
    if: ${{ needs.changes.result == 'success' && needs.changes.outputs.api == 'true' }}
    uses: ./.github/workflows/deploy-api.yml
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL}}
      DOMAIN: ${{ secrets.DOMAIN }}
      CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
      MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}
      JWT_PRIVATE: ${{ secrets.JWT_PRIVATE }}
      JWT_PUBLIC: ${{ secrets.JWT_PUBLIC }}
