name: Deploy Site
on:
  workflow_call:
    secrets:
      VERCEL_TOKEN:
        required: true
      VERCEL_ORG_ID:
        required: true
      VERCEL_SITE_PROJECT_ID:
        required: true

jobs:
  dev:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: ${{ steps.vercel-deployment.outputs.preview-url }}
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            site:
              - 'packages/site/**'
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
      - uses: amondnet/vercel-action@v20
        id: vercel-deployment
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site
    outputs:
      preview-url: ${{ steps.vercel-deployment.outputs.preview-url }}
  staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: ${{ steps.vercel-deployment.outputs.preview-url }}
    if: ${{ (github.event_name == 'pull_request' && success()) || github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            site:
              - 'packages/site/**'
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
      - uses: amondnet/vercel-action@v20
        id: vercel-deployment
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site
    outputs:
      preview-url: ${{ steps.vercel-deployment.outputs.preview-url }}
  prod:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://uber-goncalosn.vercel.app
    if: ${{ github.ref == 'refs/heads/master' && success() }}
    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            site:
              - 'packages/site/**'
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.head_ref || github.ref_name }}
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-args: '--prod'
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site
