name: Deploy Site
on:
  workflow_call:
    secrets:
      VERCEL_TOKEN:
        required: true
      VERCEL_ORG_ID:
        required: true
      VERCEL_SITE_PROJECT_ID:
        required: true

jobs:
  dev:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: ${{ steps.vercel-deployment.outputs.preview-url }}
    if: ${{ github.ref != 'refs/heads/master' &&  github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.run_id }}
      - uses: amondnet/vercel-action@v20
        id: vercel-deployment
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site

  staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: ${{ steps.vercel-deployment.outputs.preview-url }}
    if: ${{ github.event_name == 'pull_request' ||  github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.run_id }}
      - uses: amondnet/vercel-action@v20
        id: vercel-deployment
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site
    outputs:
      preview-url: ${{ steps.vercel-deployment.outputs.preview-url }}

  e2e:
    needs: staging
    if: ${{ needs.staging.result == 'success' && github.event_name == 'pull_request' }}
    uses: ./.github/workflows/e2e.yml
    secrets:
      BASE_URL: ${{ needs.staging.outputs.preview-url }}

  prod:
    runs-on: ubuntu-latest
    needs: staging
    environment:
      name: production
      url: https://uber-goncalosn.vercel.app
    if: ${{ github.ref == 'refs/heads/master' && success() }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: ./dist
          key: ${{ runner.os }}-dist-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-dist-${{ github.run_id }}
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-args: '--prod'
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_SITE_PROJECT_ID}}
          working-directory: ./dist/packages/site
